include includes/layout/template.pug
body 
    include includes/layout/header.pug
    script( defer src="scripts/indexLike.js") 
    .flex.justify-center.flex-col
        .text-center.w-full.mt-4.search-title Você procurou por "
            = searchTerm 
            | "
        .container.index-container.p-5.mt-5.grid.m-5.gap-5.self-center(class="grid-cols-4")
            each recipe in recipes
                .w-80.card-body.mt-5.flex.flex-wrap
                    img.rounded-t-lg.h-64.w-full(src=`img/${recipe["nome_fotos_receita"]}`)
                    a(href=`/recipe-${recipe["id_receita"]}`)
                        h5.mb-2.text-2xl.tracking-tight.text-gray-900.card-title.m-4
                            = recipe["nome_receita"]
                    p.mb-3.card-desc.break-word.w-full.max-h-12.text-ellipsis.overflow-hidden
                        = recipe["descricao_receita"]
                    .container.p-5.inline-flex.justify-between.card-btns.self-end.mt-auto
                        - if(isLogged)
                            - if(recipe["likedByUser"])
                                a.p-2.rounded-md.like-btn( style="cursor: pointer" id=`likeBtn${recipe["id_receita"]}` onclick=`dislikePostRequest(${recipe["id_receita"]})`)
                                    i.like-btn(class="fa-solid fa-heart" id=`likeIcon${recipe["id_receita"]}` style="color:#900C3E")
                            - else
                                a.p-2.rounded-md.like-btn( style="cursor: pointer" id=`likeBtn${recipe["id_receita"]}` onclick=`likePostRequest(${recipe["id_receita"]})`)
                                    i.like-btn(class="fa-solid fa-heart" id=`likeIcon${recipe["id_receita"]}` style="color:#878787")
                        p.self-center Postado por 
                            a.card-link(href=`/profile-${recipe["id_autor_usuario"]}`) 
                                = recipe["nome_autor_usuario"] 