include includes/layout/template.pug
body 
    include includes/layout/header.pug
    script( defer src="scripts/indexLike.js") 
    .flex.justify-center.bg-fade-profile
        .container.profile-header.h-64.flex.justify-start
            - if(userData["nome_foto_usuario"])
                img.mt-5.flex.profile-img(src=`../img/${userData["nome_foto_usuario"]}` style="cursor: pointer" )
            - else 
                img.mt-5.flex.default-profile-img(src=`../commomImg/defaultProfileImg.png` style="cursor: pointer")
            .text-container.flex.flex-col.justify-center.gap-0
                p.self-start.ml-5.profile-name
                    = userData["nome_usuario"] 
                p.self-start.ml-5.profile-date
                    | Ingressou em: 
                    = userData["createdAt"].toLocaleDateString(undefined, {year: "numeric", month:"numeric", day: "numeric"})
    .flex.items-center.flex-col
        .container.profile-title
            h1 Publicações
        .justify-center.flex
            .container.grid.ml-5.mr-5.gap-24(class="grid-cols-3")
                each recipe in recipes
                    .w-96.card-body.mt-5.mb-5.flex.flex-wrap(id=`card${recipe["id_receita"]}`)
                        img.rounded-t-lg.h-64.w-full(src=`img/${recipe["nome_fotos_receita"]}`)
                        a(href='#')
                            h5.mb-2.text-2xl.tracking-tight.text-gray-900.card-title.m-4
                                = recipe["nome_receita"]
                        p.mb-3.card-desc.break-word.w-full.max-h-12.text-ellipsis.overflow-hidden
                            = recipe["descricao_receita"]
                        .container.p-5.inline-flex.justify-between.card-btns.self-end.mt-auto  
                            - if(isLogged)
                                - if(recipe["likedByUser"])
                                    a.p-2.rounded-md.like-btn( style="cursor: pointer" id=`likeBtn${recipe["id_receita"]}` onclick=`dislikePostRequest(${recipe["id_receita"]})`)
                                        i.like-btn(class="fa-solid fa-heart" id=`likeIcon${recipe["id_receita"]}` style="color:#900C3E")
                                - else
                                    a.p-2.rounded-md.like-btn( style="cursor: pointer" id=`likeBtn${recipe["id_receita"]}` onclick=`likePostRequest(${recipe["id_receita"]})`)
                                        i.like-btn(class="fa-solid fa-heart" id=`likeIcon${recipe["id_receita"]}` style="color:#878787")


    include includes/layout/footer.pug