include includes/layout/template.pug
body 
    include includes/layout/header.pug
    script( defer src="scripts/indexLike.js") 
    script( defer src="scripts/recipeComments.js") 

    .flex.content-center.mt-5.flex-col.mb-5  
        .container.flex.flex-col.mt-5.rounded.container-recipe-view.self-center 
            .flex.justify-between.w-full.pl-5.pr-5
                .recipe-title.self-center.m-3  
                    = recipe[0]["nome_receita"].toUpperCase()
                .recipe-title.m-3
                    - if(isLogged)
                        - if(likedByUser)
                            a.p-2.rounded-md.like-btn-recipe( style="cursor: pointer" id=`likeBtn${recipe[0]["id_receita"]}` onclick=`dislikePostRequest(${recipe[0]["id_receita"]})`)
                                i.like-btn-recipe(class="fa-solid fa-heart" id=`likeIcon${recipe[0]["id_receita"]}` style="color:#900C3E")
                        - else
                            a.p-2.rounded-md.like-btn-recipe( style="cursor: pointer" id=`likeBtn${recipe[0]["id_receita"]}` onclick=`likePostRequest(${recipe[0]["id_receita"]})`)
                                i.like-btn-recipe(class="fa-solid fa-heart" id=`likeIcon${recipe[0]["id_receita"]}` style="color:#878787")
            .flex.justify-between.w-full.text-white  
                img.object-cover.w-full(src=`/img/${recipe[0]["nome_fotos_receita"]}` style="height:400px ")
            .flex.justify-between.w-full.mt-5
                .recipe-subtitle.ml-5.self-end  
                    | Descrição
                .recipe-info.flex.mr-5 
                    .recipe-info-block(style="border-radius: 6px 0px 0px 6px; border-right: #75002d solid 1px;")  
                        = recipe[0]["qtd_porcoes_receita"]
                    .recipe-info-block(style="border-radius: 0; border-left: 0; border-right:0")
                        = recipe[0]["tempo_preparo_receita"]
                    .recipe-info-block(style="border-radius: 0px 6px 6px 0px; border-left: #75002d solid 1px;")  
                        case recipe[0]["dificuldade_receita"]
                            when 1
                                | Muito Fácil
                            when 2
                                | Fácil 
                            when 3
                                | Médio
                            when 4
                                | Difícil
                            when 5
                                | Muito Difícil

                        = recipe[0]["qtd_porcoes_receitas"]
            .flex.recipe-desc.w-full.mt-3.p-5.ml-5.break-all
                = recipe[0]["descricao_receita"]
                
            .flex.justify-between.w-full.mt-5.p-5
                .flex(class="w-1/2")
                    .recipe-subtitle.flex.flex-col.w-full 
                        span.self-center Ingredientes
                        .recipe-ingredients.m-3.mt-5 
                            ul 
                                -
                                    let ingredients = recipe[0]["ingredientes_receita"].split(" ")
                                each ingredient in ingredients
                                    li 
                                        =   ingredient
                .flex(class="w-1/2")
                    .recipe-subtitle.flex.flex-col.w-full  
                        span.self-center Modo de Preparo
                        .recipe-ingredients.m-3.mt-5 
                            = recipe[0]["preparo_receita"]
            
        .container.flex.flex-col.mt-5.rounded.container-recipe-view.self-center.p-5
            h1.recipe-title.w-full.text-center COMENTÁRIOS
            .container-comments.mt-5
                ul
                    each comment in comments
                        li.comment-box.m-3.p-2 
                            .comment-user-data.flex.flex-row.break-word.text-ellipsis.overflow-hidden 
                                img.comment-profile-img.m-2(src=`../img/${comment['nome_foto_autor']}`, alt="")
                                span.comment-user-name.self-center.break-word.text-ellipsis.overflow-hidden 
                                    = comment['nome_autor']
                            .break-word.text-ellipsis.overflow-hidden 
                                = comment['texto_comentario']   
            -if(isLogged)
                .flex.container-publish-comment.mt-5.mb-3.flex-row.gap-2.p-5
                    div.comment-profile-img Foto de perfil
                    textarea.textarea-comment.w-full(name="comment" id="textarea-comment") 
                    button.comment-btn.p-4(type="button" name="diwja" value="comentar" onclick=`postComment(${recipe[0]['id_receita']}, ${userId})`)
                        | COMENTAR
    include includes/layout/footer.pug